*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Commissioner', sans-serif;
  line-height: 1.6;
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  padding: 0;
  margin: 0;
  background-color: black;
  overflow: hidden;
}

.item {
  list-style: none;
  float: left;
}

a {
  padding: 15px 10px;
  display: inline-block;
  text-transform: capitalize;
  text-decoration: none;
  opacity: 0.9;
  transition: 250ms transform ease-in-out,
    250ms opacity linear,
    250ms color ease-in;
}

li a:hover:not(.active),
li a:focus:not(.active) {
  transform: scale(1.1);
  opacity: 1;
  background-color: salmon;
}

.navbar .item a {
  color: white;
}

.navbar .active {
  background-color: limegreen;
}

.hero {
  background-color: whitesmoke;
}

.hero img {
  display: block;
  width: 40%;
  margin: 0 auto;
  border-radius: 50%;
  padding: 40px 0 20px 0;
}

.hero h1,
.hero h5 {
  text-align: center;
}

.hero h1 {
  text-transform: uppercase;
  font-size: 3.5rem;
}

.hero h5 {
  text-transform: capitalize;
  font-size: 1.25rem;
  font-weight: normal;
}

.hero .alamat {
  padding: 0;
}

.hero .phone {
  padding: 20px 0;
}

h1,
h2,
h3,
h4,
h5 {
  color: limegreen;
  margin: 0;
}

.medsos {
  width: max-content;
  list-style: none;
  margin: 0 auto;
  padding: 0 0 40px 0;
  overflow: hidden;

}

.medsos li {
  float: left;
}

.medsos a {

  text-align: center;
  padding: 10px;
  width: 35px;
  margin: 10px;
  background-color: white;
  border-radius: 50%;
}

.fa-facebook {

  color: #3B5998;
}

.fa-twitter {
  color: #55ACEE;
}

.fa-google {
  color: #dd4b39;
}

.fa-linkedin {
  color: #007bb5;
}

main {
  display: flex;
  justify-content: space-between;
}

.deskripsi {
  width: 80%;
}

h2 {
  text-transform: capitalize;
  margin: 25px 0 10px 0;
  padding: 0 10px 5px 10px;
}

main h2 {
  border-bottom: 2px solid darkgray;
}

.isi,
.job,
.univ {
  margin: 0;
  padding: 0 10px 0 10px;
}

h3,
h4 {
  text-transform: capitalize;
}

p {
  text-align: justify;
}

.subdeskripsi:nth-child(1) p:nth-child(3) {
  padding: 0 10px 0 10px;
}

.univ p:nth-child(3) {
  margin-top: 2px;
}

.univ p:nth-child(2) {
  margin-bottom: 0;
}

.skills li {
  list-style: none;
  text-transform: capitalize;
}

.subskills ul {
  padding-left: 10px;
}

.kotak-pesan {
  background-color: whitesmoke;
}
.kotak-pesan form {
  padding-bottom: 40px;
}
.kotak-pesan p,
form {
  padding: 0 10px 0px 10px;
  text-align: justify;
  max-width: 600px;
}

.kotak-pesan form input {
  width: 70%;
  display: inline-block;
  margin-bottom: 5px;
  line-height: 1.6;
}

.kotak-pesan form label {
  width: 25%;
  display: inline-block;
  text-transform: capitalize;
}

.kotak-pesan form select {
  display: inline-block;
  width: 20%;
  margin-right: 50%;
  padding: 3px 0;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.kotak-pesan form textarea {
  display: inline-block;
  width: 70%;
  height: 100px;
  resize: none;
  margin-bottom: 5px;
  vertical-align: text-top;
}

.kotak-pesan form button {
  width: 70px;
  margin-left: calc(100% - 70px);
  display: inline-block;
  text-align: center;
  padding: 6px;
  text-transform: capitalize;
  font-weight: 700;
  background-color: limegreen;
  color: white;
  border: none;
  border-radius: 3px;
  transition: 250ms transform ease-in-out;
}
.kotak-pesan form button:hover {
  transform: scale(1.1);
}

footer h3, footer p, footer p a {
  margin: 0;
  padding: 0;
  text-align: center;
  color: white;
}
footer h3 {
  text-transform: uppercase;
  color: limegreen;
  border-bottom: 1px solid limegreen;
}
footer a:hover {
  transform: scale(1.1);
}

footer {
  padding: 10px;
  background-color: black;
}